html, body {
  background: black;
  color: #00b800;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  color: #000000;
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  border: none;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 30px;
  text-align:center;
}

h4 {
  font-size: 20px;
  text-align: center;
}

textarea {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
  border: 3px solid black;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}

::placeholder {
  color: #000;
  opacity: .75;
}

textarea:disabled {
  background-color: #a5a2a2;
}